@import "tailwindcss";
@import "tailwindcss/preflight.css" layer(base);
@import 'primereact/resources/themes/lara-dark-teal/theme.css' layer(primereact);
@import "tailwindcss/utilities.css" layer(utilities);

@layer theme, base, components, utilities;

body * {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.theme-selector {
    background-color: white;
    color: black;
    transition : all 0.5s;
}

.theme-selector:hover {
    background-color: rgb(182, 182, 182);
    color: black;
    transition : all 0.5s;
}